$screen-xs: 420px;

$navigationWidth: 70px;
$navigationHeight: 50px;

$footerHeight: 50px;
$footerBgColor: #222;

$profilePictureSize: 35px;

$logoWidth: 65px;
$logoHeight: 100px;

$bgMainColor: #2d3037;

$textMainColor: #636363;
$activeColor: #e28d23;
$linkColor: #337ab7;

$profileImageSize: 100px;