@import "conf";

$calendarHeaderHeight: 65px;

.calendar-page {
  .btn {
    &:hover {
      opacity: 0.5;
      color: inherit;
    }
  }

  .calendar-header {
    padding: 20px 0;
    height: $calendarHeaderHeight;

    overflow: hidden;

    h2 {
      margin: 0;
    }

    .calendar-control {
      line-height: 1.8em;
      font-size: 1.3em;
    }

    .btn {
      padding: 0;
      font-size: 1em;
      line-height: 1;
    }
  }

  .calendar-content {
    position: absolute;
    top: $navigationHeight+$calendarHeaderHeight;
    bottom: $footerHeight;

    overflow-y: auto;

    .busy {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;

      background-color: #EDE9DF;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(https://s-media-cache-ak0.pinimg.com/originals/8f/ef/08/8fef0805113e56aa6a7d44e3289a680e.gif);

      z-index: 1;
    }
  }

  .year {
    width: 600px;

    padding: 0 30px;
    margin: 0 auto;

    font-size: 1.3em;

    .month {
      padding: 10px;

      .btn {
        display: block;
        padding: 15px;

        background-color: $bgMainColor;
        color: #FFF;
      }
    }
  }

  .month-wrapper {
    margin: 10px 0;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.1);

    &.current-month {
      background-color: #F9E1BD;
    }
  }

  .calendar {
    padding: 0 20px;
    margin: 0 auto;

    font-size: 1em;

    .calendar-label,
    .calendar-date {
      width: 14.28%; //100/7

      margin: 10px 0;
    }

    .calendar-date {
      line-height: 2em;

      &:hover {
        background: rgba(0,0,0,0.1);
      }

      &.active {
        color: $activeColor;
      }

      &.current-day {
        outline: 1px solid $bgMainColor;
        font-weight: 500;
      }
    }

    .form-wrapper {
      position: relative;
      padding: 15px;
      margin: 0 -20px;

      background: $bgMainColor;
      color: #FFF;

      form {
        margin-right: 20px;
      }

      .btn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;

        line-height: 2.5;
        font-size: 1em;
      }

      input {
        border-radius: 0;
        border: 0;

        color: #FFF;
        font-size: 1em;

        background: transparent;
        box-shadow: none;
      }
    }
  }

  .reserved-day {
    background-color: $activeColor;
    color: #FFF;
  }

  .reserved-month {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      bottom: 4px;
      left: 50%;

      width: 5px;
      height: 5px;
      margin-left: -2.5px;

      border-radius: 5px;
      background: $activeColor;

      overflow: hidden;
    }
  }
}