@import "conf";

.calendar-page {
  .btn {
    &:hover {
      opacity: 0.5;
      color: inherit;
    }
  }

  .calendar-header {
    padding: 20px 0;

    h2 {
      margin: 0;
    }

    .calendar-control {
      line-height: 1.8em;
      font-size: 1.3em;
    }

    .btn {
      padding: 0;
      font-size: 1em;
      line-height: 1;
    }
  }

  .year {
    width: 600px;

    padding: 0 30px;
    margin: 0 auto;

    font-size: 1.3em;

    .month {
      padding: 10px;

      .btn {
        display: block;
        padding: 15px;

        background-color: $bgMainColor;
        color: #FFF;
      }
    }
  }

  .calendar {
    width: 400px;

    padding: 0 30px;
    margin: 0 auto;

    font-size: 1.3em;

    .calendar-label,
    .calendar-date {
      width: 14.28%; //100/7

      margin: 15px 0;
    }
  }
}