@import "conf";

.landing-item {
  margin: 15px 0;
  padding: 30px 15px;

  &:nth-child(odd):not(:first-child) {
    background-color: #EEE;
  }

  &:first-child {
    margin-top: 0;

    background-color: #2d3037;
    color: #FFF;
  }

  .logo-image {
    font-size: 5em;
  }

  .provider {
    display: inline-block;

    width: 70px;
    height: 70px;
    line-height: 70px;

    @media screen and (max-width: $screen-xs) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);

    color: #444;
    font-size: 1.5em;
  }

  h2 {
    margin-bottom: 30px;
  }

  .item-image {
    height: 125px;
    margin: 0 -15px;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
  }
}

$feedImageWidth: 150px;
$feedImageMargin: 10px;
$feedItemPadding: 5px;

.feed {
  position: relative;
  padding: 25px 15px;

  border-bottom: 1px solid rgba(0,0,0,0.1);

  .feed-btn {
    position: absolute;
    top: 30px; right: 10px;

    font-size: 2em;
  }

  .feed-header {
    padding-right: 40px;

    .feed-count {
      display: inline-block;
      margin-right: 10px;

      color: #D87A25;
      font-size: 1.2em;
    }
  }

  .feed-content {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: -25px;

    background: rgba(0, 0, 0, 0.1);
  }

  .feed-item {
    display: block;
    margin: 10px 0;
    padding: $feedItemPadding $feedItemPadding $feedItemPadding ($feedImageWidth + $feedImageMargin);
    position: relative;

    text-decoration: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .feed-image {
      position: absolute;
      top: 0; bottom: 0; left: 0;
      width: $feedImageWidth;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(https://content.onliner.by/news/2016/04/default/5ae9b5dffb888e9f99441fa271101016.jpg);
    }

    background-color: rgba(255,255,255,0.5);

    a {
      font-size: 0.9em;
    }
  }
}