@import "conf";

$pluginHeaderHeight: 125px;
$pluginContentMarginTop: 10px;
$pluginContentMarginBottom: 20px;
$pluginNavWidth: 300px;

$pluginItemHeight: 75px;
$pluginItemWidth: 80px;
$pluginItemPadding: 10px;

.ngdialog.ngdialog-theme-default.plagin-modal {
  padding: 0;
  border-radius: 0;

  .ngdialog-content {
    position: relative;

    width: 100%;
    height: 100%;
    padding: 0;

    border-radius: 0;
    background: #fbfaf8;
  }

  .ngdialog-close {
    top: 5px;
    right: 5px;

    &:before {
      font-size: 40px;
    }
  }
}

.store-wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  .header {
    position: absolute;
    top: 0; left: 0;

    width: 100%;
    height: $pluginHeaderHeight;

    padding: 20px;

    background-color: $bgMainColor;
    color: #FFF;
  }

  .content-wrapper {
    position: absolute;
    top: $pluginHeaderHeight; bottom: 0;
    left: 0;

    width: 100%;
    margin-top: 20px;

    .store-nav,
    .store-content {
      position: absolute;
      top: $pluginContentMarginTop; bottom: $pluginContentMarginBottom;
    }

    .store-nav {
      left: 0;
      width: $pluginNavWidth;

      ul {
        list-style: none;
        font-size: 1.1em;

        li {
          margin: 5px -5px;
          padding: 2px 5px;

          &:hover:not(.selected) {
            background: rgba(0,0,0,0.1);
          }

          &.selected {
            background: $linkColor;
            color: #FFF;
          }
        }
      }
    }

    .store-content {
      left: $pluginNavWidth;
      right: 0;

      .pending-wrapper {
        padding-left: 25px;

        .pending-icon {
          font-size: 0.7em;
          line-height: 30px;
        }
      }

      ul {
        list-style: none;
      }
    }

    .categories,
    .list-wrapper {
      padding: 0 20px;
    }

    .category-item {
      margin: 10px 0;

      font-size: 0.7em;

      .category-item-content {
        position: relative;

        height: $pluginItemHeight;
        padding: $pluginItemPadding $pluginItemPadding $pluginItemPadding $pluginItemWidth;

        background-color: #FFF;

        overflow: hidden;
      }

      &:hover {
        .category-item-content {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      .item-image {
        position: absolute;
        left: $pluginItemPadding; top: $pluginItemPadding; bottom: $pluginItemPadding;
        width: $pluginItemWidth;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .item-label {
        margin-bottom: 0;
      }
    }
  }
}

.plugin-details-wrapper {
  .item-image {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-group {
    margin: 10px 0;
  }
}