@import "conf";

.profile-wrapper {
  .profile-image {
    display: inline-block;
    width: $profileImageSize;
    height: $profileImageSize;

    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("/imgs/gif/fun.gif");
  }

  .profile-control-wrapper {
    margin: 10px 0 0;

    .control-btn {
      font-size: 1.3em;
    }
  }

  .profile-settings {
    padding: 15px;

    background-color: rgba(0, 0, 0, 0.1);

    .profile-item-wrapper {
      padding: 10px;
      margin: 10px 0;

      background: #fff;

      .profile-item {
        line-height: 35px;
      }
    }
  }
}

.ngdialog.ngdialog-theme-default.plagin-modal {
  .ngdialog-content {
    width: 90%;
  }
}