@import "conf";

$pluginItemPadding: 5px;
$pluginItemWidth: 50px;

.profile-wrapper {
  .profile-image {
    display: inline-block;
    width: $profileImageSize;
    height: $profileImageSize;

    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("/imgs/gif/fun.gif");
  }

  .profile-control-wrapper {
    margin: 10px 0 0;

    .control-btn {
      font-size: 1.3em;
    }
  }

  .profile-settings {
    padding: 15px;

    background-color: rgba(0, 0, 0, 0.1);

    .profile-plugins-wrapper {
      margin: 10px 0;

      background: #fff;

      .profile-plugin {
        position: relative;

        padding: $pluginItemPadding;

        background-color: #FFF;

        overflow: hidden;

        .plugin-image {
          position: absolute;
          left: $pluginItemPadding; top: $pluginItemPadding; bottom: $pluginItemPadding;
          width: $pluginItemWidth;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        .plugin-details {
          margin-left: $pluginItemWidth;

          h5,
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}