@import "conf";

.voting-page {
  .voting {
    margin: 15px 0 15px;

    box-shadow: 0px 1px 1px 0 #999;
    -webkit-box-shadow: 0px 1px 1px 0 #999;
    -moz-box-shadow: 0px 1px 1px 0 #999;

    .refresh-content {
      position: absolute;
      top: 5px; right: 5px;

      width: 40px;
      height: 40px;

      padding: 0;

      line-height: 40px;
      text-align: center;
      font-size: 1.3em;
      color: #FFF;

      background-color: $activeColor;
    }

    .voting-header {
      margin: 0;
      padding: 15px 0;
      background-color: #FFF;
    }

    .voting-content {
      position: relative;

      background-color: rgba(0, 0, 0, 0.05);
    }

    .voting-offer {
      margin: 20px 0;
    }

    .voting-items {
      .vote {
        margin: 10px -60px 10px 0;

        .vote-label {
          display: inline-block;
          padding: 15px;
          margin-right: -4px;

          background: #FFF;

          box-shadow: -1px 1px 1px 0 #999;
          -webkit-box-shadow: -1px 1px 1px 0 #999;
          -moz-box-shadow: -1px 1px 1px 0 #999;
        }

        .vote-number {
          display: inline-block;
          width: 60px;
          padding: 15px 0;

          background-color: #AAD480;
          border-radius: 0 4px 4px 0;

          color: #FFF;
          font-size: 1em;

          &.voted {
            background-color: $activeColor;
          }
        }

        .vote-percent {
          display: inline-block;
          width: 60px;

          margin-right: -60px;
        }
      }
    }
  }
}