<!DOCTYPE html>
<html>
	<head>
		<title>Templates veiw</title>
	</head>
	<body>
		<div class="template-block-cover sign-in">
			<div class="content-cover">
				</form id="sign-in">
					<input type="text" id="email" />

					<input type="text" id="password" />

					<input type="checkbox" id="remember" />

					<button>Sign In</button>>
				</form>
			</div>
		</div>
		<div class="template-block-cover sign-up">
			<div class="content-cover">
				</form id="sign-up">
					<input type="text" id="email" />

					<input type="text" id="first-name" />
					<input type="text" id="last-name" />

					<input type="text" id="password" />
					<input type="text" id="confirm-password" />

					<button>Sign Up</button>>
				</form>
			</div>
		</div>
		<div class="template-block-cover dashboard">
			<div class="content-cover">
				<h2>Projects list</h2>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
				</ul>
				<div id="create-project-btn" class="btn">Create project</div>>
			</div>
		</div>
		<div class="template-block-cover edit-project">
			<div class="content-cover">
				<div class="search-project">
					<input type="text" id="project-search" placeholder="Project Name" />
				</div>

				<div class="project-options-cover"> 
					<div class="project-option statuses">
						<h4 clas="option-title">Statuses</h4>
						<ul>
							<li>To Do</li>
							<li>In Progress</li>
						</ul>
						<div class="add-status btn">Add Status</div>
					</div>
					<div class="project-option priorities">
						<h4 clas="option-title">Proirities</h4>
						<ul>
							<li>Minor</li>
							<li>Major</li>
						</ul>
						<div class="add-priority btn">Add Priority</div>
					</div>
				</div>

				<div class="save-changes btn">Save Project</div>
			</div>
		</div>
		<div class="template-block-cover project-board">
			<div class="content-cover"></div>
		</div>
		<div class="template-block-cover ticket-cover">
			<div class="content-cover"></div>
		</div>

	</body>
</html>