<div class="clearfix">
	<div class="animated fadeIn" ng-show="dayDetails" ng-class="{'disabled': modal.busy, 'pending-wrapper': modal.busy}">
		<div class="pending-icon" ng-show="modal.busy"><i class="fa fa-refresh fa-pulse"></i></div>

		<h4 class="text-center" ng-bind="dayDetails.title"></h4>
		<ul>
			<li ng-repeat="note in dayDetails.notes track by $index">
				<a ng-href="{{note.link}}" target="_blank" ng-if="note.link" ng-bind="note.text"></a>
				<span ng-if="!note.link" ng-bind="note.text"></span>
				<i class="btn fa fa-close" ng-click="removeNote(note);"></i>
			</li>
			<li ng-hide="dayDetails.notes">None notes.</li>
		</ul>
		<form class="row" ng-submit="addNote(modal.newNoteText);">
			<div class="col-xs-10">
				<input type="text" class="form-control" placeholder="What to do?" ng-model="modal.newNoteText" />
			</div>
			<div class="col-xs-2">
				<button class="btn btn-primary">Add</button>
			</div>
		</form>
	</div>
</div>