<div class="feed-details">
    <div class="clearfix">
        <div class="pull-left details-control-btn bookmark-wrapper" bookmark="feed"></div>
        <div class="pull-left details-control-btn" add-to-calendar="feed"></div>
    </div>
    <h3 class="feed-details-header row" ng-class="{'disabled': modal.busy}">
        <div class="col-xs-1 text-right">
            <i class="pointer fa fa-angle-left" ng-show="modal.control.prev" ng-click="switchFeed(-1);" title="{{modal.prevFeedLable}}"></i>
        </div>

        <a class="col-xs-10 text-center text-bold" ng-href="{{feed.link}}" target="_blank"  ng-bind="feed.label"></a>

        <div class="col-xs-1 text-left">
            <i class="pointer fa fa-angle-right" ng-show="modal.control.next" ng-click="switchFeed(1);" title="{{modal.nextFeedLable}}"></i>
        </div>
    </h3>
    <div class="alert alert-info animated fadeIn" ng-show="modal.busy">
        <i class="fa fa-refresh fa-pulse"></i>
        <span>in progress..</span>
    </div>
    <div class="error-wrapper animated fadeIn alert alert-danger text-center btn pointer" ng-show="!modal.busy && modal.offline">
        <i class="fa fa-warning"></i>
        <span ng-click="getFeedDescription();">Response error, please check your connection and try again.</span>
    </div>
    <div class="feed-details-content clearfix animated fadeIn" ng-hide="!feed.details || modal.busy">
        <div class="feed-description-wrapper">
            <div class="text-center">
                <img class="feed-image" ng-src="{{feed.details.image || defaultImage}}" />
            </div>
            <p class="alert alert-warning" ng-hide="feed.details.description.length">No description provided.</p>
            <p class="feed-description" ng-repeat="paragraph in feed.details.description track by $index" ng-bind="paragraph"></p>
        </div>
    </div>
</div>