<div class="clearfix">
    <div class="page-group-wrapper landing-item text-center">
        <div class="logo-image"><i class="fa fa-modx"></i></div>
        <h1>{{'welcome_to' | translate : lang}} <span class="text-marked">{{'news_feeds' | translate : lang}}</span></h1>
        <h4>{{'a_single_place_to_organize_read_and_share_all_the_content_that_matters_to_you' | translate : lang}}</h4>
    </div>
    <div class="page-group-wrapper landing-item text-center" ng-repeat="group in landingContent">
        <h2 ng-bind="group.title | translate : lang"></h2>
        <h2><small ng-bind="group.subtitle | translate : lang"></small></h2>

        <img nf-if="group.imageSrc" ng-src="{{group.imageSrc}}" />

        <div ng-if="group.icons && group.icons.length" class="text-center">
            <span class="landing-icon" ng-repeat="icon in group.icons">
                <i class="fa fa-{{icon.tag}}" title="{{icon.label | translate : lang}}"></i>
            </span>
        </div>
    </div>
</div>