<div class="calendar">
    <h3 ng-bind="month.title"></h3>
    <div class="calendar-labels clearfix">
        <h3 class="pull-left calendar-label" ng-repeat="label in month.labels track by $index">
            <small ng-bind="label.short"></small>
        </h3>
    </div>
    <div class="calendar-dates">
        <div class="week" ng-repeat="week in month.weeks track by $index">
            <div class="clearfix">
                <div class="pull-left calendar-date pointer" ng-repeat="date in week track by $index"
                     ng-click="selectDate($event, date)" ng-class="{'current-day': date.current, 'reserved-day': date.notes && date.notes.length}"
                     ng-bind="date.num"></div>
            </div>
        </div>
    </div>
</div>