<div class="plugin-wrapper">
	<div class="header row">
		<div class="col-xs-12">
			<h4>Find plugin</h4>
			<div class="row">
				<div class="col-xs-10 col-sm-11">
					<input type="text" placeholder="Search.." class="form-control" />
				</div>
				<div class="col-xs-2 col-sm-1">
					<div class="btn btn-primary">GO!</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content row">
		<div class="col-xs-4">
			<div class="categories">
				<h5>Categories</h5>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="list-wrapper col-xs-8">
				<h5>The list</h5>
			</div>
		</div>
	</div>
</div>