<div class="store-wrapper">
	<div class="header">
		<div class="col-xs-12">
			<h4>{{'portals_store'| translate : lang}}</h4>
			<!--<h4>{{'find'| translate : lang}} {{'provider'| translate : lang}}</h4>-->
			<!--<div class="row">-->
				<!--<div class="col-xs-10 col-sm-11">-->
					<!--<input type="text" placeholder="{{'search'| translate : lang}}" class="form-control" />-->
				<!--</div>-->
				<!--<div class="col-xs-2 col-sm-1">-->
					<!--<div class="btn btn-primary" ng-bind="'search'| translate : lang"></div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
	<div class="content-wrapper">
		<div ng-show="store.busy"><i class="fa fa-refresh fa-pulse"></i></div>
		<div ng-show="store.categories.length">
			<div class="store-nav">
				<div class="categories">
					<div class="category-item">
						<h5 class="text-bold text-capitalize" ng-bind="'categories'| translate : lang"></h5>
						<ul>
							<li class="pointer text-capitalize" ng-repeat="category in store.categories track by $index"
								ng-class="{selected: category.selected}" ng-click="selectCategory(category);" ng-bind="category.label | translate : lang"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="store-content">
				<div class="list-wrapper animated fadeIn" ng-hide="store.offline">
					<h5 class="content-header pending-wrapper" ng-show="store.busy">
						<i class="pending-icon fa fa-refresh fa-spin"></i>
					</h5>
					<ul ng-hide="store.busy" class="clearfix animated fadeIn">
						<li class="category-item pointer col-xs-12 col-sm-6 col-md-4 col-lg-3"
							ng-repeat="item in store.data | filter : store.filter" ng-click="openProvider(item);">
							<div class="category-item-content clearfix">
								<div class="item-image" ng-style="{'background-image': 'url('+item.image+')'}"></div>
								<div class="col-xs-12 item-content">
									<h5 class="item-label cutted-text text-bold">
										<span class="text-uppercase" ng-bind="item.name"></span>
										<small ng-show="item.owned" class="alert-success" ng-bind="'owned' | translate : lang"></small>
									</h5>
									<div class="item-text cutted-text" ng-bind="item.description"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-hide="store.categories.length || store.busy">
			<h5 class="text-center">The Store is empty, come back later. Please, come back..</h5>
		</div>
	</div>
</div>