<div class="task btn" data-ng-class="{'active': note.selected}">
	<div class="priority {{getPriorityTitle(note.priority);}}"></div>
	<div class="left-block">
		<div class="active small-block pull-left">
			<span class="view-elem toggle"></span>
		</div>
		<div class="important small-block pull-left">
			<span class="view-elem alpha-btn btn favorite {{note.favorite ? 'active' : ''}}"></span>
		</div>
		<div class="title overflow-text large-block pull-left" data-bind="text: title, click: $parent.openItem">{{note.title}}</div>
	</div>
	<div class="center-block">
		<div class="small-block">
			<span class="view-elem type" type="{{note.type}}"></span>
		</div>
		<div class="description overflow-text">{{note.description}}</div>
	</div>
	<div class="right-block">
		<div class="date medium-block text-center pull-left">{{note.date | date: "MM/dd"}}</div>
		<div class="time medium-block text-center">{{note.date | date: "HH.mm"}}</div>
	</div>
</div>