* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.clearfix {
  overflow: hidden;
  clear: both;
}
[class*='pull'][class*='-left'] {
  float: left;
}
[class*='pull'][class*="-right"] {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
body {
  background: #FAFAFA;
}
ul {
  list-style: none;
}
button {
  padding: 3px 20px;
}
p {
  margin: 10px 0;
}
nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
}
nav.horizontal {
  left: 150px;
  right: 0;
  height: 25px;
  padding: 3px 10px;
  background-color: #CCC;
}
nav.vertical {
  bottom: 0;
  left: 0;
  width: 150px;
  padding: 0 15px;
  background-color: #EEE;
}
nav a {
  color: #000;
  text-decoration: none;
}
.dropdown {
  position: relative;
  padding-right: 40px;
}
.dropdown:not(.active) .hidden {
  display: none;
}
.dropdown .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown .arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  width: 1px;
  height: 5px;
  margin: -3px -1px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
}
#content {
  margin-left: 150px;
}
.home-cover {
  position: fixed;
  top: 25px;
  bottom: 0;
  left: 150px;
  right: 0;
  background-image: url(/public/imgs/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
input[type="text"],
textarea {
  padding: 3px 5px;
}
.content-cover {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
}
ul.bordered {
  display: inline-block;
  min-width: 250px;
  text-align: left;
  border: 1px solid #999;
  background-color: #FFF;
}
ul.bordered li {
  padding: 10px 5px;
}
ul.bordered li:not(:last-child) {
  border-bottom: 1px solid #999;
}
.project-name {
  line-height: 28px;
  margin-right: 20px;
  font-size: 20px;
}
table {
  width: 100%;
  margin: 20px 0 0;
  border-collapse: collapse;
}
table td {
  vertical-align: top;
}
table tr.header {
  border-bottom: 1px solid #999;
}
table th,
table td {
  padding: 10px 5px;
}
table .ticket {
  margin: 10px 0;
  padding: 2px;
  border: 1px solid #999;
  background-color: #FFF;
}
.project-board table td:not(:last-child),
.project-board table th:not(:last-child) {
  border-right: 1px solid #999;
}
textarea {
  resize: none;
}
.ticket-cover input,
.ticket-cover textarea {
  width: 100%;
  box-sizing: border-box;
}
.ticket-cover select {
  min-width: 150px;
}
