* {
	margin: 0;
	padding: 0;

	font-size: 16px;
}

.clearfix {
	overflow: hidden;
	clear: both;
}

.disabled {
	opacity: 0.5;
}

[class*='pull'] {
    &[class*='-left'] {
	    float: left;
	}
	&[class*="-right"] {
	    float: right;
	}
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

body {
	background: #FAFAFA;
}

ul {
	list-style: none;
}

button {
  padding: 3px 20px;
}

p {
  margin: 10px 0;
}

@nav-ver-width: 150px;
@nav-hor-height: 28px;

nav {
	position: fixed;
	top: 0; 

	&.horizontal {
		left: @nav-ver-width;
		right: 0;
		height: @nav-hor-height;

		padding: 3px 10px;

		background-color: #CCC;
	}	
	&.vertical {
		bottom: 0;
		left: 0;
		width: @nav-ver-width;

		padding: 0 15px;

		background-color: #EEE;

		.btn-home {
			display: block;
			height: 50px;
			margin: 10px 0 15px;

			background-image: url(/public/imgs/dashboard.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}
	}

	.nav-item {
		display: inline-block;
		height: @nav-hor-height - 6;

		padding: 3px 10px;

		background-color: #DDD;

		box-sizing: border-box;

		cursor: pointer;

		&:hover {
			background-color: #EEE;
		}
	}

	box-sizing: border-box;

    a {
	    color: #000;

	    text-decoration: none;
    }
}

.dropdown {
	position: relative;

	padding-right: 30px !important;

	&:not(.active) {
		.hidden {
			height: 0;
			padding: 0;
			overflow: hidden;
		}
	}

	.hidden {
		position: absolute;
		top: 22px; left: 0; right: 0;

		padding: 3px 5px;

		background-color: #EEE;

		box-sizing: border-box;
	}

	.arrow {
		position: absolute;
		top: 0; right: 0;
		height: @nav-hor-height;
		width: @nav-hor-height;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 50%;
			display: block;
			width: 1px;
			height: 5px;
			margin: -3px -5px;
			border-color: #808080 transparent transparent transparent;
			border-style: solid;
			border-width: 5px 5px 0 5px;
		}
	}
}

#content {
	margin-left: 150px;
}

.home-cover {
	position: fixed;
	top: @nav-hor-height; bottom: 0;
	left: 150px; right: 0;
	
	background-image: url(/public/imgs/background.jpg);
	background-repeat: no-repeat;
	background-position: center; 
}

input[type="text"],
textarea {
	padding: 3px 5px;
}

.content-cover {
	max-width: 600px;
	margin: 10px auto;
	padding: 10px 20px;
	text-align: center;
}

ul.bordered {
	display: inline-block;
	min-width: 250px;

	text-align: left;

	border: 1px solid #999;

	background-color: #FFF;

    li {
	    padding: 10px 5px;

        &:not(:last-child) {
	        border-bottom: 1px solid #999;
        }
    }
}

.project-name {
	line-height: 28px;
	margin-right: 20px;
	font-size: 20px;
}

table {
    width: 100%;
    margin: 20px 0 0;

    border-collapse: collapse;

    td {
        vertical-align: top;
    }

    tr.header {
        border-bottom: 1px solid #999;
    }

    th,
    td {
        padding: 10px 5px;
    }

    .ticket {
	    margin: 10px 0;
	    padding: 2px;

	    border: 1px solid #999;

	    background-color: #FFF;
    }
}

.project-board {
    table {
        td:not(:last-child),
        th:not(:last-child) {
            border-right: 1px solid #999;
        }
    }
}

textarea {
	resize: none;
}

.ticket-cover {
    input,
    textarea {
	    width: 100%;

	    box-sizing: border-box;
    }

    select {
        min-width: 150px;
    }
}