<div class="page-wrapper animated fadeIn clearfix">
	<div class="row" ng-hide="page.busy">
		<div class="page-group-wrapper text-center col-xs-12">
			<h3 ng-bind="'updates' | translate : lang"></h3>
		</div>
		<div class="col-xs-12" ng-hide="page.offline">
			<div class="update-group form-group" ng-repeat="update in updates track by $index">
				<h5>
					<span class="text-marked text-uppercase" ng-bind="update.title | translate : lang"></span>
					<span>v.</span><span ng-bind="update.version"></span>
				</h5>
				<p ng-bind="update.text | translate : lang"></p>
				<ul class="update-list">
					<li ng-repeat="item in update.items track by $index" ng-bind="item.label | translate : lang"></li>
				</ul>
				<h5><small ng-bind="update.subtitle"></small></h5>
			</div>
		</div>
	</div>
	<p class="form-group alert alert-info" ng-hide="!page.busy">
		<i class="fa fa-refresh fa-pulse"></i>
		<span ng-bind="'in_progress' | translate : lang"></span>
	</p>
</div>