<div class="page-wrapper sign-page animated fadeIn clearfix">
    <div ng-hide="pageParams.busy">
        <div class="clearfix" ng-hide="pageParams.offline">
            <div class="container">
                <div class="text-center">
                    <h1>
                        <span class="text-marked" ng-bind="'sign_in' | translate : lang"></span> <br />
                        <small>awesome background image or ui in future!</small>
                    </h1>
                    <div class="row">
                        <div class="connect-provider" ng-repeat="provider in page.providers track by $index" ng-class="{'disabled': !provider.available}" ng-click="connectToProvider(provider);">
                            <i class="fa fa-{{provider.type}}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>