<div class="page-wrapper animated fadeIn clearfix">
	<div class="row" ng-hide="pageParams.busy">
		<div class="clearfix" ng-hide="pageParams.offline">
			<div class="landing-item text-center">
				<div class="logo-image"><i class="fa fa-modx"></i></div>
				<h1>HEADER</h1>
				<h4>Subtitle</h4>
			</div>
			<div class="landing-item text-center">
				<h2>HEADER</h2>

				<div class="row">
					<div class="col-xs-12 col-sm-4" ng-repeat="item in [1,2,3]">
						<h4>Title</h4>
						<p>Description text..</p>
					</div>
				</div>
			</div>
			<div class="landing-item text-center">
				<h2>HEADER</h2>

				<div class="row">
					<div class="col-xs-12 text-center">
						<div class="provider" ng-repeat="item in ['mixcloud', 'shopping-basket', 'reddit-alien', 'codiepie']">
							<i class="fa fa-{{item}}"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="landing-item text-center">
				<h2>HEADER</h2>

				<div class="row">
					<div class="col-xs-12">
						<h5><small>description text</small></h5>
						<h5>100500</h5>
						<h5><small>description text</small></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="form-group alert alert-info" ng-hide="!pageParams.busy"><i class="fa fa-refresh fa-pulse"></i> in progress..</p>
</div>