<div id="navigation" class="navigation-wrapper">
	<div class="navigation-wrapper clearfix">
		<div class="logo text-center pull-left" title="Awesome project, right?">
			<!-- TODO: Add link to some awesome action!-->
			<i class="profile-icon fa fa-modx"></i>
		</div>
		<div class="navbar clearfix">
			<div class="navigation-group left-group pull-left clearfix">
				<div class="pull-left" ng-repeat="link in navigation.leftLinks track by $index">
					<div ng-hide="link.hide" navigation-link="link"></div>
				</div>

				<div class="pull-left" notifications></div>
			</div>

			<div class="navigation-group right-group pull-right clearfix">
				<div class="pull-left go-top animated pointer hidden" ng-click="goTop();" title="GO TOP">
					<i class="fa fa-arrow-circle-up"></i>
				</div>
				<div class="pull-left" ng-repeat="link in navigation.rightLinks track by $index">
					<div ng-hide="link.hide" navigation-link="link"></div>
				</div>
			</div>
		</div>
	</div>
</div>