<div class="page-wrapper animated fadeIn clearfix">
    <div class="row profile-wrapper" ng-hide="page.busy">
        <div class="page-group-wrapper col-xs-12">
            <div class="row">
                <div class="col-xs-6 text-right">
                    <div class="profile-image" ng-style="navigation.avatar"></div>
                </div>
                <div class="col-xs-6">
                    <h3 ng-bind="user.name"></h3>
                    <h5><small ng-bind="user.email"></small></h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="profile-control-wrapper clearfix">
                <div class="btn control-btn pull-right" ng-click="showStore();" title="Add new plugin">
                    <i class="fa fa-plus-circle"></i>
                </div>
            </div>
            <div ng-hide="page.profile.plugins.length">
                <h5>No plugins installed</h5>
            </div>
            <div class="profile-settings" ng-class="{'disabled': page.busy}">
                <div class="profile-plugins-wrapper" ng-repeat="plugin in page.profile.plugins track by $index">
                    <div class="profile-plugin clearfix">
                        <div class="plugin-image" ng-style="{'background-image': 'url('+plugin.image+')'}"></div>
                        <div class="plugin-details col-xs-12">
                            <div class="col-xs-12">
                                <h5 class="cutted-text">
                                    <span class="text-bold" ng-bind="plugin.label"></span>
                                    <small ng-bind="plugin.status"></small>
                                </h5>
                                <p class="cutted-text" ng-bind="plugin.description"></p>
                            </div>
                        </div>
                        <div class="plugin-btn pointer" ng-click="removePlugin($index);" title="Delete plugin">
                            <i class="fa fa-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-hide="page.offline"></div>
    </div>
    <p class="form-group alert alert-info" ng-hide="!page.busy"><i class="fa fa-refresh fa-pulse"></i> in progress..</p>
</div>