<div class="page-wrapper animated fadeIn clearfix">
    <div class="row profile-wrapper" ng-hide="pageParams.busy">
        <div class="page-group-wrapper text-center col-xs-12">
            <div class="profile-image" ng-style="navigation.avatar"></div>
            <h3 ng-bind="user.name"></h3>
            <h5><small ng-bind="user.email"></small></h5>
        </div>
        <div class="col-xs-12" ng-hide="pageParams.offline"></div>
    </div>
    <p class="form-group alert alert-info" ng-hide="!pageParams.busy"><i class="fa fa-refresh fa-pulse"></i> in progress..</p>
</div>