<div class="page-wrapper animated fadeIn clearfix">
    <div class="row profile-wrapper">
        <div class="page-group-wrapper col-xs-12">
            <div class="row">
                <div class="col-xs-6 text-right">
                    <div class="profile-image" ng-style="navigation.avatar"></div>
                </div>
                <div class="col-xs-6">
                    <h3 ng-bind="user.name"></h3>
                    <h5><small ng-bind="user.email"></small></h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-hide="page.busy">
            <div class="profile-control-wrapper clearfix">
                <div class="btn control-btn pull-left" ng-click="toggleTips();" title="{{'toggle_tips' | translate : lang}}">
                    <span ng-bind="'show_tips' | translate : lang"></span>
                    <span class="toggle-status text-sb" ng-class="{'text-success': user.tips, 'text-danger': !user.tips}">
                        ({{(user.tips ? 'yes' : 'no') | translate : lang}})
                    </span>
                </div>
                <div class="btn control-btn pull-right" ng-click="showStore();" title="{{'list_of_providers' | translate : lang}}">
                    <i class="text-lb fa fa-list-alt"></i>
                </div>
            </div>
            <div ng-hide="profile.providers.length">
                <h5 ng-bind="'there_is_no_providers_connected' | translate : lang"></h5>
            </div>
            <div class="profile-settings" ng-class="{'disabled': page.busy}">
                <div class="profile-providers-wrapper" ng-repeat="provider in profile.providers track by $index">
                    <div class="profile-provider clearfix">
                        <div class="provider-image" ng-style="{'background-image': 'url('+provider.image+')'}"></div>
                        <div class="provider-details clearfix">
                            <h5 class="cutted-text">
                                <span class="text-uppercase text-bold" ng-bind="provider.name"></span>
                                <small ng-bind="plugin.status"></small>
                            </h5>
                            <p class="cutted-text" ng-bind="provider.description"></p>
                        </div>
                        <div class="provider-btn pointer" ng-click="removeProvider(provider.name, $index);" title="{{'remove_provider' | translate : lang}}">
                            <i class="fa fa-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-hide="page.offline"></div>
    </div>
    <p class="form-group alert alert-info" ng-show="page.busy">
        <i class="fa fa-refresh fa-pulse"></i>
        <span ng-bind="'in_progress' | translate : lang"></span>
    </p>
</div>