<div class="notifications-wrapper">
    <div navigation-link="notifications.link"></div>
    <div ng-show="notifications.active" class="notifications-list">
        <div ng-show="!notifications.list || !notifications.list.length" class="alert alert-warning text-warning text-center">no notifications</div>
        <div class="notification" ng-repeat="item in notifications.list track by $index">
            <h6 class="content">
                <span ng-bind="item.title"></span> <br />
                <small ng-bind="item.body"></small>
            </h6>
        </div>
    </div>
</div>