<div class="template-block-cover dashboard">
	<div class="content-cover text-center">
		<h2>Projects list</h2>
		<ul class="project-list pending">
			{% for project in data %}
            <li class="text-left">
            	<a href="/board/{{project.name}}">{{project.name}}</a>
            	<div class="control">
            		<a href="/edit_project/{{project.name}}" class="control-btn edit"></a>
            	</div>
            </li>
            {% endfor %}
		</ul>
		<p><a href="/create_project"><button id="create-project-btn" class="btn default-btn">Create project</button></a></p>
	</div>
</div>