<div class="template-block-cover edit-project">
	<div class="content-cover">
		<p class="search-project">
			<!-- <input type="text" id="project-search" placeholder="Project Name" /> -->
			<h3>{{obj.name}}</h3>
		</p>

		<div class="project-options-cover clearfix"> 
			<form method="post">
				<div>
					<b>Description:</b>
					<p><textarea name="description">{{obj.description}}</textarea></p>
				</div>
				<div class="project-option statuses">
					<h4 class="option-title">Status list</h4>
					<ul class="statuslist-wrapper" data-bind="foreach: statuslist">
	                    <li>
	                    	<div class="status-wrapper">
	                    		<input data-bind="value: title" />
	                    		<div class="btn remove-btn" data-index="{{$data.index}}" data-bind="click: $root.removeStatus"></div>
	                    	</div>
	                    </li>
					</ul>
					<p>
						<button data-bind="click: addStatus" class="add-status btn default-btn">Add Status</button>
						<button data-bind="click: getStatusList" class="btn default-btn">Cancel</button>
						<button data-bind="click: saveStatus" class="btn danger-btn">Save Status</button>
					</p>
				</div>
				<div class="project-option">
					<input type="checkbox" data-bind="value: removeTickets" /> <span>Remove Project Tickets</span>
				</div>

				<p>
					<button formaction="/updateproject/{{obj.name}}" class="btn default-btn">Save</button>
					<button data-bind="click: cancelEdit" class="btn default-btn">Close</button>
					<button data-bind="attr: {'formaction': $root.getRemoveUrl()}" class="btn btn-warning">Delete Project</button>
				</p>
			</form>
		</div>

	</div>
</div>
<script>
	var Status = function(attrs) {
		var self = this;

		(function() {
			for(var key in attrs) {
				self[key] = attrs[key];
			}
		})();
	}

    function AppViewModel() {
        var self = this;
        self.currProject = "{{obj.name}}";

        self.saveStatus = function(status) {
        	var url = "/updatestatus/" + self.currProject;
        	var statusIndex = status.index;
            $.post(url, {list: JSON.stringify(self.statuslist()), project: self.currProject}, function(res) {
                console.log(res);

                self.getStatusList();
            });

            return false;
        };

        self.removeTickets = ko.observable(false);

        self.getRemoveUrl = function() {
        	var url = "/removeproject/{{obj.name}}";
        	self.removeTickets() ? url+="/true" : "";
        	return url;
        };

        self.cancelEdit = function() {
        	var url = "/board/" + self.currProject;
        	console.log(url);

        	document.location.href = url;
        	return false;
        };

		self.removeStatus = function(obj, e) {
            var ind = obj.index;
            var list = self.statuslist();
            list.splice(ind, 1);
            self.statuslist(list);
        };

        self.getStatusList = function() {
        	var url = "/getstatuslist/" + self.currProject;
            $.get(url, function(res) {
                self.statuslist(JSON.parse(res).list);
            });

            return false;
        };

        self.addStatus = function() {
        	var list = self.statuslist();
        	var status = new Status({
        		index: list.length,
        		title: "New Status"
        	});
        	list.push(status);
        	self.statuslist(list);
        	return false;
        };

        self.statuslist = ko.observable([]);

        self.getStatusList();
    }
     
    ko.applyBindings(new AppViewModel());
</script>