<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dashboard{% endblock %}</title>

  <style type="text/css">{{style}}</style>
</head>
<body>
	<nav>
		<p><a href="/">Home</a></p>
    {% if user %}
      <p><a href="/user_account">Account</a></p>
      <p><a href="/logout">Log Out</a></p>
      <p><a href="/user_dashboard">Dashboard</a></p>
      <p><a href="/user_edit_project">Edit Project</a></p> 
      <p><a href="/user_project_board">Board</a></p>
      <p><a href="/user_ticket">Ticket</a></p>
      {% else %}
      <p><a href="/sign_in">Sign In</a></p>
      <p><a href="/sign_up">Sign up</a></p>
    {% endif %}
	</nav>

	<div id="content">
        {% block %}
		    {% include template %}
	    {% endblock %}
	</div>
</body>
</html>