<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dashboard{% endblock %}</title>

  <style type="text/css">{{style}}</style>
</head>
<body>
  <nav class="horizontal clearfix">
    {% if user %}
      <div class="dropdown pull-right">
        <a href="/user_account">{{user.firstname}}</a>
        <div class="hidden">
          <a href="/logout">Log Out</a>
        </div>
        <div class="arrow"></div>
      </div>
      {% else %}
      <a href="/sign_in">Sign In</a>
      <a href="/sign_up">Sign up</a>
    {% endif %}
  </nav>
  <nav class="vertical">
    <a class="btn-home" href="/"></a>
    {% if user %}
      <p><a href="/user_dashboard">Dashboard</a></p>
      <p><a href="/user_edit_project">Edit Project</a></p> 
      <p><a href="/user_project_board">Board</a></p>
      <p><a href="/user_ticket">Ticket</a></p>
    {% endif %}
  </nav>

	<div id="content">
        {% block %}
		    {% include template %}
	    {% endblock %}
	</div>
</body>
</html>