<div class="template-block-cover sign-in">
	<div class="content-cover text-center">
		<!-- <p class="text-right">
			<a href="/auth/google">Sign On with Google</a> |
			<a href="/auth/vk">Sign On with VK</a> |
			<a href="/auth/twitter">Sign On with Twitter</a>
		</p> -->
		<h2 style="font-size: 30px;">Sign In</h2>
		<form id="sign-in" action="/login" method="post">
			<p><input type="text" id="email" name="email" placeholder="Email" /></p>

			<p><input type="password" id="password" name="password" placeholder="Password" /></p>

			<p><button class="btn btn-primary" type="submit">Sign In</button><a href="/sign_up" class="btn btn-success">Sign Up</a></p>
		</form>
	</div>
</div>