<div class="template-block-cover sign-up">
	<div class="content-cover">
		<form id="sign-up" action="/signup" method="post">
			<p><input type="text" id="email" name="email" placeholder="Email" /></p>

			<p><input type="text" id="first-name" name="firstname" placeholder="First Name" /></p>
			<p><input type="text" id="last-name" name="lastname" placeholder="Last Name" /></p>

			<p><input type="text" id="role" name="role" placeholder="Role" /></p>

			<p><input type="text" id="password" name="password" placeholder="Password" /></p>
			<p><input type="text" id="confirm-password" placeholder="Confirm Password" /></p>

			<p><button>Sign Up</button></p>
		</form>
	</div>
</div>