<div class="template-block-cover sign-up">
	<div class="content-cover text-center">
		<h2 style="font-size: 30px;">Sign Up</h2>
		<form id="sign-up" action="/signup" method="post">
			<p><input type="text" require id="email" name="email" placeholder="Email" /></p>

			<p><input type="text" require id="firstname" name="firstname" placeholder="First Name" /></p>
			<p><input type="text" require id="lastname" name="lastname" placeholder="Last Name" /></p>

			<p><input type="password" require id="password" name="password" placeholder="Password" /></p>
			<p><input type="password" require id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" /></p>

			<p><button>Sign Up</button></p>
		</form>
	</div>
</div>
<script>
	$("form#sign-up").on("submit", function(e) {
		var pass = $("#password").val();
		var confirmpassword = $("#confirmpassword").val();
		if(pass != "" && pass == confirmpassword) {
			 $("#confirmpassword").addClass("error");
			 return false;
		} 
		return true;
	});
</script>