<div class="template-block-cover sign-up">
	<div class="content-cover">
		<form id="sign-up">
			<p><input type="text" id="email" placeholder="Email" /></p>

			<p><input type="text" id="first-name" placeholder="First Name" /></p>
			<p><input type="text" id="last-name" placeholder="Last Name" /></p>

			<p><input type="text" id="password" placeholder="Password" /></p>
			<p><input type="text" id="confirm-password" placeholder="Confirm Password" /></p>

			<p><button>Sign Up</button></p>
		</form>
	</div>
</div>