<div class="template-block-cover ticket-cover">
	<div class="content-cover">
        <table>
            <tr>
                <td colspan="3">
                    <p>
                        <input type="text" placeholder="Ticket name" />
                    </p>
                    <p>
                        <textarea rows="4">Description</textarea>
                    </p>
                </td>
                <td>
                    <p>
                        <select>
                            <option disabled>Status</option>
                            <option>To Do</option>
                        </select>
                    </p>
                    <p>
                        <select>
                            <option disabled>Priority</option>
                            <option>Major</option>
                        </select>
                    </p>
                    <p>
                        <select>
                            <option disabled>Assignee</option>
                            <option>User 1</option>
                        </select>
                    </p>
                </td>
            </tr>
        </table>
        <p class="text-left"><button>Save</button></p>
        <div class="comments">
            <h3>Comments</h3>
            <div class="wrapper text-left">
                <p>Dmitry: Best ticket ever.</p>
            </div>
        </div>
	</div>
</div>