<div class="template-block-cover ticket-wrapper">
	<div class="content-cover">
        <div class="clearfix">
            <div class="pull-right edit-btn" data-bind="click: toggleEdit">Edit<span class="edit-icon"></span></div>
        </div>
        <form action="/updateticket/{{data.name}}" method="post">
            <div class="text-left">
                <div> 
                    <h3>Name: <span>{{data.name}}</span></h3>
                    <p data-bind="if: editable"><input type="text" placeholder="Ticket name" name="name" value="{{data.name}}" /></p>
                </div>
                <div>
                    <h3>Description: </h3>
                    <p data-bind="ifnot: editable"><span>{{data.description}}</span></p>
                    <p data-bind="if: editable"><textarea name="description" rows="4">{{data.description}}</textarea></p>
                </div>
                <div>
                    <h3>Status: 
                        <span>{{data.status}}</span>
                        <span data-bind="if: editable">
                            <span class="btn arrow-up">Increase</span>
                            <span class="btn arrow-down">Lower</span>
                        </span>
                    </h3>
                </div>
                <div>
                    <h3>Priority: 
                        <span>Priority: {{data.priority}}</span>
                        <span data-bind="if: editable">
                            <span class="btn arrow-up">Increase</span>
                            <span class="btn arrow-down">Lower</span>
                        </span>
                    </h3>
                </div>
                <div>
                    <h3>Assignee: <span data-bind="ifnot: editable">{{data.assignee}}</span></h3>
                    <p data-bind="if: editable"><input type="text" value="{{data.asignee}}" name="assignee" placeholder="Assignee" /></p>
                </div>
            </div>
            <p data-bind="if: editable" class="text-left"><button>Save</button></p>
        </form>
        <div class="comments" data-bind="ifnot: editable">
            <h3>Comments</h3>
            <div class="wrapper text-left">
                <p>Dmitry: Best ticket ever.</p>
            </div>
        </div>
	</div>
</div>
<script>
    function AppViewModel() {
        var self = this;
     
        self.editable = ko.observable(false);

        self.toggleEdit = function() {
            self.editable(!self.editable())
        }

    }
     
    ko.applyBindings(new AppViewModel());
</script>