<div class="template-block-cover project-board">
	<div class="content-cover text-center">
        <div class="clearfix">
            <h3 class="project-name pull-left">{{data.name}}</h3>
            <a href="/user_create_ticket/{{data.name}}"><button class="pull-left">Create Ticket</button></a>
            <a href="/user_edit_project/{{data.name}}"><button class="pull-right">Edit Project</button></a>
        </div>
        <div class="tickets-wrapper clearfix" data-bind="foreach: ticketsGroup">
            <ul class="pull-left board-list">
                <li class="head">
                    <h4 data-bind="text: status"></h4>
                </li>
                <li class="" data-bind="foreach: $data.tickets">
                    <div class="ticket text-left">
                        <p><a data-bind="text: name, attr: {href: '/user_ticket/'+name}"></a></p>
                        <p>
                            <h5>Priority:
                                <span data-bind="text: priority"></span>
                            </h5>
                        </p>
                        <p>
                            <h5>Status:
                                <span data-bind="text: status"></span>
                            </h5>
                        </p>
                        <p>
                            <h5>Description:
                                <span data-bind="text: description"></span>
                            </h5>
                        </p>
                        <p>
                            <h5>Assignee:</h5>
                            <p data-bind="if: assignee != 'false'">
                                <a href="/account/{{assignee}}" data-bind="text: assignee"></a>
                            </p>
                        </p>
                        <p data-bind="if: assignee == 'false'">No Assignee</p>
                    </div>
                </li>
            </ul>
        </div>
	</div>
</div>

<script>
    function AppViewModel() {
        var self = this;
     
        self.ticketsGroup = ko.observable([]);

        self.init = function() {
            $.get('/gettickets/{{data.name}}', function(res) {
                self.ticketsGroup(res); //NEXT filter by status 
            });
        };

        self.init();
    }
     
    ko.applyBindings(new AppViewModel());
</script>
