<div class="template-block-cover project-board">
	<div class="content-cover text-center">
        <div class="clearfix">
            <h3 class="project-name">{{data.name}}</h3>
            <h3 class="project-name"><i>{{data.description}}</i></h3>
            <p class="text-center">
                <a href="/user_create_ticket/{{data.name}}"><button>Create Ticket</button></a>
                <a href="/user_edit_project/{{data.name}}"><button>Edit Project</button></a>
            </p>
        </div>

        <div class="filter-wrapper text-center">
            <div class="status-control clearfix">
                <div class="pull-left" data-bind="foreach: statuslist">
                    <div class="control-btn pull-left text-center" data-bind="text: title, click: $root.setFilter"></div>
                </div>
                <div class="control-btn pull-left text-center active" data-bind="click: $root.setFilter">All</div>
            </div>
        </div>

        <div class="tickets-wrapper clearfix" data-bind="foreach: _filter(ticketsGroup)">
            <ul class="pull-left board-list" data-bind="attr: {style: $root.getTicketStyle()}">
                <li class="head">
                    <h4 data-bind="text: statusTitle"></h4>
                </li>
                <li class="" data-bind="foreach: $data.tickets">
                    <div class="ticket text-left">
                        <p><a data-bind="text: name, attr: {href: '/user_ticket/'+name}"></a></p>
                        <p>
                            <h5>Priority:
                                <span data-bind="text: priority"></span>
                            </h5>
                        </p>
                        <p>
                            <h5>Description:
                                <span data-bind="text: description"></span>
                            </h5>
                        </p>
                        <p>
                            <h5>Assignee:
                                <span data-bind="text: assignee"></span>
                            </h5>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
	</div>
</div>

<script>
    function AppViewModel() {
        var self = this;

        self.currProject = "{{data.name}}";
        self.ticketsGroup = ko.observable([]);
        self.activeColumnNum = ko.observable(0);
        self.currFilter = ko.observable("All");

        self.setFilter = function(filter, e) {
            var filter = (filter.title) ? filter.title : "All";
            self.currFilter(filter);
            $(".control-btn.active").removeClass("active");
            $(e.target).addClass("active");
        };

        var getStatusTitle = function(ind) {
            var statusTitle = self.statuslist()[ind].title;
            return statusTitle;
        };

        self._filter = function(arr) {
            var list = arr();
            var result;
            if(list.length && self.currFilter() != "All") {
                for(var key in list) {
                    if(list[key].statusTitle == self.currFilter()) {
                        result = [list[key]];
                    }
                }
            } else {
                result = list;
            }

            self.activeColumnNum((result) ? result.length : 0);
            return result;
        };

        var filterTickets = function(arr) {
            var res = [];
            var filter = {};

            for(var i=0; i<arr.length; i++) {
                var statusInd = arr[i].status;
                if(!filter[statusInd]) {
                    filter[statusInd] = {
                        statusTitle: getStatusTitle(statusInd),
                        tickets: []
                    };
                }

                filter[statusInd].tickets.push(arr[i]);
            }

            for(var key in filter) {
                res.push(filter[key]);
            }

            return res;
        };

        self.canShow = function(obj, e) {
            console.log(obj);
            return true;
        };

        self.getTicketStyle = function() {
            var width = "width: " + 100 / self.activeColumnNum() + "%;";
            return width; 
        };

        self.statuslist = ko.observable([]);

        self.getStatusList = function() {
            var url = "/getstatuslist/" + self.currProject;
            $.get(url, function(statuslist) {
                self.statuslist((statuslist != "null") ? JSON.parse(statuslist).list : []);

                $.get('/gettickets/{{data.name}}', function(tikets) {
                    self.ticketsGroup(filterTickets(tikets)); //NEXT filter by status 
                });
            });

            return false;
        };

        self.init = function() {
            self.getStatusList();
        };

        self.init();
    }
     
    ko.applyBindings(new AppViewModel());
</script>
