<div class="template-block-cover dashboard">
	<div class="content-cover">
		<h2>Projects list</h2>
		<ul class="project-list pending" data-bind="foreach: projects">
            <li class="text-left">
            	<a href="#project" data-bind="text: name"></a>
            	<div class="control">
            		<a href="#editproject" class="control-btn edit"></a>
            	</div>
            </li>
		</ul>
		<p><a href="/user_create_project"><button id="create-project-btn" class="btn default-btn">Create project</button></a></p>
	</div>
</div>
<script>
	function AppViewModel() {
	    this.projects = ko.observableArray([]);

	    this.init = function() {
	    	var self = this;
	    	$.get("/getprojectslist", function(res) {
	    		if(res) {
	    			self.projects(res);
	    			$('.project-list').removeClass("pending");
	    		}
	    	});
	    };

	    this.init();
	}

	// Activates knockout.js
	ko.applyBindings(new AppViewModel());
</script>